$color: #fff;
$color-primary: #448aff;
$color-info: #9e9e9e;
$color-success: #4caf50;
$color-warning: #ff9800;
$color-danger: #ff5722;
$color-text: #fff;
$color-primary-simple: #448aff33;
$color-info-simple: #9e9e9e33;
$color-success-simple: #4caf5033;
$color-warning-simple: #ff980033;
$color-danger-simple: #ff572233;
$color-text-hover: #448affaa;