$color: #fff;
$color-primary: #448aff;
$color-info: #9e9e9e;
$color-success: #4caf50;
$color-warning: #ff9800;
$color-danger: #ff5722;
$color-text: #fff;
$color-primary-simple: #448aff33;
$color-info-simple: #9e9e9e33;
$color-success-simple: #4caf5033;
$color-warning-simple: #ff980033;
$color-danger-simple: #ff572233;
$color-text-hover: #448affaa;

$font-size: 14px;
$button-height: 32px;
$button-bg: white;
$button-active-bg: #eee;
$border-radius: 4px;
$border-color: #999;
$border-color-hover: #666;

$height: 32px;
$box-shadow-color: #448aff;
$box-fontsize: 12px;
